
nav a{
    float: right;
}
.share a{
	color:white;
	float:right;
}
body{
	color:#ffffff;
	height:100%;
	background-color: #1A1A1A;
	-webkit-font-smoothing: antialiased;
}
.navbar-brand{
	color:white;
}
.nav{
	margin-top: 30px;
	position: relative;
}
#grid{
	position:fixed;
	width:100%;
}
.row{
	margin-left: 0px;
	margin-right:0px;
}
div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
#grid .col-xs-3 .grid-line.hey {
    height: 100vh;
    transition: height 1.2s ease;
}
#grid .col-xs-3 .grid-line {
    height: 0vh;
	border-left: 1px solid #000;
	border-right: 1px solid black;
}
ul{
	list-style: none;
	position: relative;
	list-style-type: none;
	margin-left: 600px;
	margin-top: 0px;
}
li{
	display: inline;
	margin-right: 50px;
}
h1{
	font-weight: 700;
	font-size: 165px;
    letter-spacing: 2px;
	position: relative;
	margin-left: 50%;
	font-size:12vw;
	line-height: 150px;
	margin-bottom: 80px;
}
section#intro .desc {
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 60px;
	font-family: monospace;
}
section#intro .desc h4 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	line-height: 28px;
	font-weight: 300;
    font-size: 18px;
    transition: color .4s ease;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Courier New', Courier, monospace;
	z-index: -1;
}
@media screen and (max-width: 991px){
section#intro .text {
	left: -10px;
	margin-right: 100%;
}
}
@media screen and (max-width: 991px){
section#intro .text h1 {
    font-size: 145px;
	line-height: 160px;
}
}
@media screen and (max-width: 380px){
section#intro .desc h4{
    bottom: 25px;
}
}
@media screen and (max-width: 380px){
section#intro .desc{
    bottom: 25px;
}
}
@media screen and (max-width: 991px){
section#intro .desc h4 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
	transform: rotate(0deg);
	bottom: 50px;
}
}
@media screen and (max-width: 480px){
section#intro .text{
    left: -4px;
}
}
@media screen and (max-width: 991px){
section#intro .desc {
    bottom: -75px;
    top: inherit;
    left: 0px;
}
}
h4{
	color:white;
}
section#intro .container .row {
    position: relative;
}
section #intro .text{
	transition: 2s cubic-bezier(0.99, 0.44, 0, 0.95) color;
	position: relative;
    left: 0px;
    top: 50px;
    color: #1F1F1F;
    text-transform: uppercase;
    z-index: -1;
}
@media screen and (max-width: 380px){
section#intro .text h1 {
    font-size: 71px;
    line-height: 80px;
}
}
@media screen and (max-width: 430px){
section#intro .text h1 {
    font-size: 86px;
	line-height: 93px;
}
}
h3{
	float:right;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid coral;
	opacity: 0.2;
}
.diamond{width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color:plum;
	position: relative;
	top: -50px;
	
}
.diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color:plum;
}
.diamond1{width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color:palevioletred;
	position: relative;
	top: 0px;
}
.diamond1:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: palevioletred;
}
.circle {
	width: 50px;
	height: 50px;
	background:bisque;
	border-radius: 50px;
}
.share{
	float: right;
	color: plum;
	position: absolute;
}
#about{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:700;
	position: relative;
}
h2{
	font-weight:700;
	font-size: 50px;
	margin-top: 40px;
	color:white;
	position:relative;
}

.hire{
	text-align: center;
	line-height: 2.0;
	margin-top: 50px;
}
p{
	line-height: 2.0;
	font-weight:400;
	font-size:28px;
}
h4{
	font-weight:600;
	font-size:30px;
	color:yellow;
}
@media screen and (max-width: 430px){
 h2 { 
	 margin-top: 40px;
	 position: relative;
 }
}
@media screen and (max-width: 380px){
	p{ 
		font-size:28px;
		line-height: 1.5;
	}
}
@media screen and (max-width: 430px){
	p{ 
	font-size:30px;
	}
   }
butn-info {
    color:black;
    background-color:white;
    border-color:white;
}
.logo{
	font-size: 28px;
}