
nav a{
    float: right;
}
.share a{
	color:white;
	float:right;
}
body{
	color:#ffffff;
	height:100%;
	background-color: #1A1A1A;
	-webkit-font-smoothing: antialiased;
}
.navbar-brand{
	color:white;
}
.nav{
	margin-top: 30px;
	position: relative;
}
#grid{
	position:fixed;
	width:100%;
}
.row{
	margin-left: 0px;
	margin-right:0px;
}
div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
#grid .col-xs-3 .grid-line.hey {
    height: 100vh;
    transition: height 1.2s ease;
}
#grid .col-xs-3 .grid-line {
    height: 0vh;
	border-left: 1px solid #000;
	border-right: 1px solid black;
}
ul{
	list-style: none;
	position: relative;
	list-style-type: none;
	margin-left: 600px;
	margin-top: 0px;
}
li{
	display: inline;
	margin-right: 50px;
}
h1{
	font-weight: 700;
	font-size: 200px;
    letter-spacing: 2px;
	position: relative;
	margin-left: 50%;
	font-size:12vw;
	line-height: 190px;
	margin-bottom: 80px;
	font-family: Product Sans;
}
section#intro .desc {
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 60px;
	font-family: monospace;
}
section#intro .desc h4 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	line-height: 28px;
	font-weight: 300;
    font-size: 18px;
    transition: color .4s ease;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Courier New', Courier, monospace;
	z-index: -1;
}
@media screen and (max-width: 991px){
section#intro .text {
	left: -10px;
	margin-right: 100%;
}
}
@media screen and (max-width: 991px){
section#intro .text h1 {
    font-size: 145px;
	line-height: 160px;
}
}
@media screen and (max-width: 380px){
section#intro .desc h4{
    bottom: 25px;
}
}
@media screen and (max-width: 380px){
section#intro .desc{
    bottom: 25px;
}
}
@media screen and (max-width: 991px){
section#intro .desc h4 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
	transform: rotate(0deg);
	bottom: 50px;
}
}
@media screen and (max-width: 480px){
section#intro .text{
    left: -4px;
}
}
@media screen and (max-width: 991px){
section#intro .desc {
    bottom: -75px;
    top: inherit;
    left: 0px;
}
}
h4{
	color:white;
	font-family: Source Sans Pro;
}
section#intro .container .row {
    position: relative;
}
section #intro .text{
	transition: 2s cubic-bezier(0.99, 0.44, 0, 0.95) color;
	position: relative;
    left: 0px;
    top: 50px;
    color: #1F1F1F;
    text-transform: uppercase;
    z-index: -1;
}
@media screen and (max-width: 380px){
section#intro .text h1 {
    font-size: 71px;
    line-height: 80px;
}
}
@media screen and (max-width: 430px){
section#intro .text h1 {
    font-size: 86px;
	line-height: 93px;
}
}
h3{
	float:right;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid yellow;
	opacity: 0.7;
	position: absolute;
	top: 10%;
	left: 40%;
	/* margin-top: 0px; */
}
.diamond{width: 0;
	height: 0;
	border: 25 solid transparent;
	border-bottom-color:floralwhite;
	position: relative;
	top: -25px;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -25px;
	top: 25px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color:floralwhite;
}
.diamond1{width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom-color:rosybrown;
	position: absolute;
	top: 50%;
	left:90%

}
.diamond1:after {
	content: '';
	position: absolute;
	left: -25px;
	top: 25px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: rosybrown;
	position: absolute;
}
.circle {
	width: 50px;
	height: 50px;
	background:bisque;
	border-radius: 50px;
	position:absolute;
	top:50%;
}
.circle2 {
	width: 50px;
	height: 50px;
	background:indigo;
	border-radius: 50px;
	position:absolute;
	top:90%;
	left:40%;
}
.share{
	float: right;
	color: plum;
	position: absolute;
}
#about{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:700;
	position: relative;
}
h2{
	font-weight:700;
	font-size: 40px;
	margin-top: 40px;
	color:white;
	position:relative;
}
.hire{
	text-align: center;
	margin-top: 15px;
}
p{
	line-height: 35px;
	font-weight:300;
	font-size:28px;
	font-family: Source Sans Pro;
}
h4{
	font-weight:400;
	font-size:30px;
	color:grey;
	line-height: 40px;
}
@media screen and (max-width: 430px){
 h2 { 
	 margin-top: 40px;
	 position: relative;
 }
}
@media screen and (max-width: 380px){
	p{ 
		font-size:20px;
		line-height: 1.2;
	}
}
@media screen and (max-width: 430px){
	p{ 
	font-size:20px;
	line-height: 1.3;
	}
   }
butn-info a{
color: black;
}
.logo{
	font-size: 32px;
}
a.logo{
	font-family: Niconne;
}
a.logo:hover{
	color: pink;
}
a.shoot{
	color: black;
}
.btn-group-lg>.btn, .btn-lg{
	background-color: white;;
}
.btn-group-lg>.btn, .btn-lg:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
a:hover{
	text-decoration: none;
}
.heart{
	color:red;
}
@media screen and (max-width: 430px){
	.circle {
		opacity: 0.2;
	}
}
@media screen and (max-width: 430px){
	.circle2 {
		opacity: 0.2;
	}
}
@media screen and (max-width: 430px){
	.diamond1{
		opacity:0.2;
	}
	}
@media screen and (max-width: 430px){
		.triangle-up {
			opacity: 0.2;
		}
}
@media screen and (max-width: 768px){
	.triangle-up {
		opacity:0.2;
	}
}
@media screen and (max-width: 768px){
	.circle{
		opacity:0.2;
	}
}
@media screen and (max-width: 768px){
	.circle2{
		opacity:0.2;
	}
}
@media screen and (max-width: 768px){
	.diamond1{
		opacity:0.2;
	}
	}