
nav a{
    float: right;
}

body{
	color:#ffffff;
	height:100%;
	background-color: #1A1A1A;
	-webkit-font-smoothing: antialiased;

}
.navbar-brand{
	color:white;
}
.nav{
	margin-top: 30px;
}
#grid{
	position:fixed;
	width:100%;
}
/**
.container{
	padding-left: 50px;
	padding-right: 50px;
}**/
.row{
	margin-left: 0px;
	margin-right:0px;
}
div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
#grid .col-xs-3 .grid-line.hey {
    height: 100vh;
    transition: height 1.2s ease;
}
#grid .col-xs-3 .grid-line {
    height: 0vh;
	border-left: 1px solid #000;
	border-right: 1px solid black;
}
.behance{
color: white;}
x
.github{
	color:white;
}
.mail{
	color:white;
}
.twitter{
	color:white;
}
ul{
	list-style-type: none;
	float:right;
	line-height: 50px;
}
#socials{
	margin-top: 0px;
	float: right;
}
h1{
	font-weight: 500;
	font-size: 72px;
    letter-spacing: 2px;
    position: relative;
}
section#intro .container .row {
    position: relative;
}
section #intro .text{
	transition: 2s cubic-bezier(0.99, 0.44, 0, 0.95) color;
	position: relative;
    left: 0px;
    top: 100px;
    color: #1F1F1F;
    text-transform: uppercase;
    z-index: -1;
}
section#intro .circle.circle1 {
    position: absolute;
    top: 500px;
	left: 200px;
}
section .circle {
    width: 40px;
    height: 40px;
    border: 12px solid yellow;
    border-radius: 40%;
    z-index: 0;
}
section#intro .circle.circle2 {
    position: absolute;
    top: 100px;
    right: 150px;
}
section .circle.lg {
    width: 60px;
    height: 60px;
    border: 18px solid yellow;
}
@media screen and (max-width: 600px){
section#intro .circle.circle3 {
    left: inherit;
    right: 25px;
}
}
section#intro .circle.circle3 {
    position: absolute;
	bottom: 50px;
	right:200;
}
section#intro .circle.circle4 {
    position: absolute;
    bottom: 350px;
    left: -100px;
}
section .circle.lg {
    width: 60px;
    height: 60px;
	border: 18px solid yellow;
}
@media screen and (max-width: 991px){
section .circle {
    opacity: .6;
}
}
@media screen and (max-width: 767px){
section#intro .circle.circle4 {
    display: none;
}
}
@media screen and (max-width: 1350px){
section#intro .circle.circle4 {
    left: 100px;
}
}
#main-wrap{
	margin-top:50px;
}
h3{
	margin-top:50px;
}

